.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

i {
  position: absolute;
  top: 77px;
  font-size: small;
}

.Body {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.logo {
  width: 100px;
  position: absolute;
  left: 50px;
}

.intro {
  grid-column: 1/3;
  grid-row: 1;
  height: max-content;
}

.contenu-upload {
  grid-column: 1;
  grid-row: 2;
}

.style-upload {
  grid-column: 2;
  grid-row: 2;
}

.parameters {
  grid-column: 1/3;
  grid-row: 3;
}

.form-control {
  margin: 20px !important;
  min-width: 240px !important;
}

.button-upload {
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
}

.result {
  grid-column: 1/3;
  grid-row: 5;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
